*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.plus-jakarta-sans-semibold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.global-section{
    width: 100%;
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: #fff;
}

.global-div{
    display: grid;
    grid-template-columns: 340px 1fr;
    margin: 0 25px;
    height: 100%; 
    gap: 25px;                                                                                                                                                                                                                                                                                                                                                                                                                                                               
}

.sidebar-staff {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-staff h2{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: 2rem 0 0 0;
}

.add-worker{
    padding: 13px 25px;
    margin: 10px 0 20px 0;
    background-color: rgb(5, 216, 5);
    color: #fff;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 19px;
    font-weight: 800;
    border: none;
    border-radius: 20px;
}

.fromt{
    margin: 5px 0 0 0;
}



.modal-content{
    padding: 20px;
    background: white;
    max-width: 500px;
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    overflow-y: auto;
    border: none;
}

.modal-header h2{
    color: #1a5fb4;
    text-align: center;
    font-size: 30px;
}

.modal-content label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  color: #333;
}

.name,.select-role,
.url,.email,
.phone,.experience-post,
.experience-entreprise,
.experience-years{
  width: 100%;
  padding: 8px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form {
    padding: 24px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#photo-live {
    margin: 15px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #3498db;
}

.btn-add{
    margin: 20px 0 0 20px;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: 50px;
    background-color: #0fca0fab;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 25px;
    text-align: center;
}
.btn-cancel{
    margin: 20px 0 0 20px;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: 50px;
    background-color: #ff0000ab;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 25px;
    text-align: center;
}
.btn-experience{
    font-family: 'Poppins', sans-serif;
    background-color: #db7a34;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 18px;
    padding: 15px 15px;  
}

.remove-exp{
    font-family: 'Poppins', sans-serif;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 18px;
    padding: 15px 15px;
    margin: 10px 0 0 0;
}

.remove-exp-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.staff-item{
    background: #c8d1dd;
    border-radius: 12px;
    padding: 12px;
    margin: 0 0 12px 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

.staff-item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
}

.worksphere-div{
    height: 100vh;
}
.worksphere-div h1{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: 2rem 0 0 0;
}

.zone-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
}
.zone{
    border: 5px solid #000;
    
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffffab;
    padding: 20px;
    overflow-y: auto;
}

.add-btn {
    width: 50px;
    border: none;
    height: 50px;
    border-radius: 1rem;
    background: #3498db;
    color: white;
    font-size: 40px;
    
}

.error-msg {
    color: #e74c3c;
    font-size: 13px;
    font-weight: 500;
    min-height: 18px;
    margin-bottom: 4px;
    display: none;               
}

.error-msg.show {
    display: block;              
}

#reception{
     grid-column: 1/3;
     grid-row: 1/2;
     background: url(zone1.png) center/cover no-repeat;
}   

#conference{
      grid-column: 1/3;
      grid-row: 2/4;
      background: url(zone2.png) center/cover no-repeat;
}

#staffroom{
      grid-column: 4/5;
      grid-row: 1/2;
      background: url(zone3.png) center/cover no-repeat;
}

#servers{
      grid-column: 5/6;
      grid-row: 1/2;
      background: url(zone4.png) center/cover no-repeat;
}

#security{
      grid-column: 4/5;
      grid-row: 3/4;
      background: url(zone5.png) center/cover no-repeat;
}

#archives{
      grid-column: 5/6;
      grid-row: 3/4;
      background: url(zone6.png) center/cover no-repeat;
}

.experiences-section{
    margin-top: 20px;
    padding: 16px;
    border-radius: 12px;
    background: #f8f9fa;
    border: 2px solid #444343;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.experiences-section label{
    font-weight: 600;
    color: #000;
    margin: 0 0 12px 0;
}

#experiences-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
}



.worker-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffffab;
    padding: 20px;
    overflow-y: auto;
    
}

.modallist-worker{
    padding: 20px;
    background: white;
    max-width: 500px;
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    overflow-y: auto;
    border: none;
}

.assigned-employee {
    text-align: center;
    margin: 8px 0;
}
.assigned-employee img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-radius: 2px solid #3498db;
}
.assigned-employee span{
    margin-top: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #2c3e50;
}

.error{
    color: red;
}

@media screen and (min-width: 1024pxpx) and (max-width: 1279px) {
    .global-div {
      display: grid;
      grid-template-columns: 100px 1fr;
      margin: 0 25px;
      height: 100%;
      gap: 25px;
}
}