*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
}

.global-section{
    width: 100%;
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: #fff;
}

.global-div{
    display: grid;
    grid-template-columns: 340px 1fr;
    margin: 0 25px;
    height: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}

.sidebar-staff h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.add-worker{
    margin: 10px 0 0 0;
    background-color: rgb(5, 216, 5);
    color: #fff;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 19px;
    font-weight: 800;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 35px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffffab;
    z-index: 1000;
    padding: 20px;
}

.modal-content{
    padding: 20px;
    background: white;
    max-width: 500px;
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    overflow: hidden;
    border: none;
}

.modal-content h3{
    color: #1a5fb4;
    text-align: center;
}

.modal-content label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  color: #333;
}

.name,.select-role,
.url,.email,
.phone{
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form {
    padding: 24px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#photo-live {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #3498db;
}

.btn-add{
    margin: 20px 0 0 20px;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: 50px;
    background-color: #0fca0fab;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 25px;
    text-align: center;
}
.btn-cancel{
    margin: 20px 0 0 20px;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: 50px;
    background-color: #ff0000ab;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 25px;
    text-align: center;
}

.staff-item{
    background: #1a5fb4;
    border-radius: 12px;
    padding: 12px;
    margin: 0 0 12px 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

.staff-item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
}

.worksphere-div{
    height: 100vh;
}

.zone-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
}
.zone{
    border: 5px solid #000;
}

#reception{
     grid-column: 1/3;
     grid-row: 1/2;
     background: url(zone1.png) center/cover no-repeat;
}   

#conference{
      grid-column: 1/3;
      grid-row: 2/4;
      background: url(zone2.png) center/cover no-repeat;
}

#staffroom{
      grid-column: 4/5;
      grid-row: 1/2;
      background: url(zone3.png) center/cover no-repeat;
}

#servers{
      grid-column: 5/6;
      grid-row: 1/2;
      background: url(zone4.png) center/cover no-repeat;
}

#security{
      grid-column: 4/5;
      grid-row: 3/4;
      background: url(zone5.png) center/cover no-repeat;
}

#archives{
      grid-column: 5/6;
      grid-row: 3/4;
      background: url(zone6.png) center/cover no-repeat;
}

.experiences-section{
    margin-top: 20px;
    padding: 16px;
    border-radius: 12px;
    background: #f8f9fa;
    border: 2px solid #444343;
}

.experiences-section label{
    font-weight: 600;
    color: #000;
    margin: 0 0 12px 0;
}

#experiences-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
}
